transformers
google-generativeai
langchain
--index-url https://download.pytorch.org/whl/cpu
torch 
torchvision 
torchaudio
InstructorEmbedding
sentence_transformers==2.2.2
langchain-google-genai
dotenv
