streamlit
transformers
google-generativeai
langchain
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
InstructorEmbedding
sentence_transformers=2.2.2
langchain-google-genai
dotenv
